body{
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(236, 217, 235);
}
body h1{
    text-align: center;
    color: purple;
}

.frm h2{
    color: purple;
}

.frm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 12px;
    margin: 10px;

   
    
}

.frm form input, select{
    width: 100%;
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgb(134, 104, 104);
    
}

.frm{
    display: block;
    margin: auto;
   border-radius: 30px;
   border-color: rgb(66, 27, 27);
    width: 30%;
    height: auto;
    margin-top: 30px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    
    
}

form button {
    width: 100%;
    height: 30px;
    background-color: purple;
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid rgb(134, 104, 104);
}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    font-size: 18px;
}
figcaption{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: purple;
    padding: 10px;
    margin: 0;
}

/*media query */

@media screen and (max-width:500px) {
    body{
        margin: auto;
        box-sizing: border-box;
        background-color: rgb(236, 217, 235);
    }
    p{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: purple;
        font-size: 18px;
        text-align: justify;
        margin: 80px;
    }
    body h1{
        text-align: center;
        color: purple;
        font-size: 18px;
    }
    
    .frm h2{
        color: purple;
    }
    
    .frm form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        gap: 10px;
        margin: 5px;
    
       
        
    }
    
    .frm form input, select{
        width: 100%;
        height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        border-radius: 10px;
        border: 1px solid rgb(134, 104, 104);
        
    }
    
    .frm{
        display: block;
        margin: auto;
       border-radius: 30px;
       border-color: rgb(66, 27, 27);
        width: 50%;
        height: auto;
        margin-top: 30px;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
        
        
    }
    
    form button {
        width: 100%;
        height: 30px;
        background-color: purple;
        color: white;
        text-align: center;
        font-size: 14px;
        border-radius: 10px;
        border: 2px solid rgb(134, 104, 104);
    }
    
}